body {
    height: 100vh;
    overflow: hidden;
}
.container{
    background-color: #c4c4c4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: 100%;
}
.card {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    padding: 20px;
    box-shadow: 0 5px 13px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.17);
}
.timer {
    justify-content: space-between;
}
.questionBody {
    flex-direction: column;
}
.qTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
#review {
    border: 2px solid black;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #fcffd8;
    box-shadow: 0 5px 13px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.17);
    cursor: pointer;
}
.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#flag {
    padding: 0 10px;
    border-radius: 10px;
    background-color: #f7e4e3;
    box-shadow: 0 5px 13px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.17);
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 75px;
}
.controls {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}
#control {
    padding: 0 10px;
    border-radius: 10px;
    background-color: #d1dbfe;
    box-shadow: 0 5px 13px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.17);
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 75px;
}
.questionDisplay {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    left: 2%;
    right: 2%;
    bottom: 10%;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    row-gap: 10px;
}
.q {
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: #c4c4c4;
    font-size: 1.5rem;
}

.key {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}
.keyItem {
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 5px 13px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.17);
}
.answered {
    background-color: #d1dbfe;
}
.unanswered {
    background-color: #c4c4c4;
}
.review {
    background-color: #fcffd8;
}
.flagged {
    background-color: #f7e4e3;
}
#submit {
    background-color: #d5fec5;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
}